$tablet: 48em; // 768px
$laptop: 75em; // 1200px
$desktop: 89em; // 1440px

@mixin media-xs {
  @media (max-width: 22em) {
    @content;
  }
}

@mixin media-sm {
  @media (max-width: #{$tablet}) and (orientation: portrait) {
    @content;
  }
}

@mixin media-sm-land {
  @media (max-width: 62.5em) and (orientation: landscape) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: #{$laptop}) and (orientation: portrait) {
    @content;
  }
}

@mixin media-md-land {
  @media (max-width: #{$laptop}) and (orientation: landscape) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
