:root {
  --color-blue: #0079ff;
  --color-blue-light: #60abff;
  --color-white: #ffffff;

  // LIGHT MODE
  --color-main-background: #f6f8ff;
  --color-content-background: #fefefe;
  --color-accent: #697c9a;
  --color-title: #2b3442;
  --color-text: #4b6a9b;
  --color-text-hover: #222731;
  --color-text-input: #222731;
  --color-text-placeholder: #4b6a9b;
}

[theme='dark'] {
  // DARK MODE
  --color-main-background: #141d2f;
  --color-content-background: #1e2a47;
  --color-accent: var(--color-white);
  --color-title: var(--color-white);
  --color-text: var(--color-white);
  --color-text-hover: #90a4d4;
  --color-text-input: var(--color-white);
  --color-text-placeholder: var(--color-white);
}
